$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$baseColor: hsl(80, 62%, 39%);
$baseColor1:  hsl(93, 94%, 33%);
//sidebar
// $menuBg:#304156;
$menuBg: $baseColor1;
$subMenuBg: darken($menuBg,5%);
$menuHover: darken($menuBg,10%);

